<header>
    <div class="header-content">
        <div class="logo">
            <img src="assets/images/logo-cms-tech.png" alt="=The Application Logo">        
        </div>
        <nav>
            <ul>
                <!-- <li><a href="/casemanage">CaseManage</a></li>
                <li><a href="/workflow">WorkFlow</a></li> -->
                <li><button class="menu-button">Home</button></li>
                <li><button class="menu-button">CaseManage</button></li>
                <li><button class="menu-button">WorkFlow</button></li>
            </ul>
        </nav>
    </div>
</header>